body {
    background-color: rgb(5, 33, 66);
    margin: 0;
    padding: 0;
}

/*
    Header Styling
 */

#header-container {
    width: 98%;
    height: 125px;
    max-height: 200px;
    padding: 0;
    margin-left: 10px;
    /*border: 1px solid white;*/ /*For debugging purposes*/
}

#header-name {
    color: white;
}

#header-container p {
    color: white;
    text-indent: 25px;
    font-size: 24px;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

#logo {
    height: 120px;
    width: 120px;
}

#header-container img {
    float: left;
}

#header-container h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

/*
    Navigation Styling
 */

#nav-container {
    overflow: hidden;
}

#nav-container a {
    padding: 14px 16px;
    color: #f2f2f2;
    text-align: center;
    font-size: 17px;
    float: left;
    text-decoration: none;
}

#nav-container a:hover {
    background-color: #ddd;
    color: black;
}

#nav-container a:active {
    background-color: #4CAF50;
    color: white;
}

/*
    Content Styling
 */

#content-container {
    position: relative;
    border: 7px solid cyan;
    background-color: white;
    text-align: center;
}

#content-header, #content-desc {
    margin: 10px;
}

#content-img {
    width: 500px;
    height: 400px;
    opacity: 1;
}

#clear-float {
    clear: left;
}

/*
    About.html Styling
*/

#intro-container {
    /*border: 1px solid white;*/
    position: absolute;
    top: 200px;
    left: 600px;
    width: 700px;
    height: 500px;
    text-align: center;
    color: white;
    font-size: 28px;
}

#intro-container #intro-content {
    /*border: 1px solid yellow;*/
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-size: 18px;
}

#profile-pic {
    width: 500px;
    height: 300px;
    border: 10px solid darkgrey;
    border-radius: 10px;
}

/*
    Portfolio.html Styling
*/

#resume-container {
    /*border: 1px solid white;*/
    position: absolute;
    width: 700px;
    height: 550px;
    top: 200px;
    left: 600px;
}

#resume-header {
    text-align: center;
    color: white;
    font-size: 36px;
}

#resume-content{
    /*border: 1px solid yellow;*/
}

/*
    Footer Styling
 */

#footer-img {
    width: 200px;
    height: 200px;
}

#footer-content {
    position: fixed;
    bottom: 50px;
}

#footer-comment {
    position: relative;
    float: right;
    margin: 10px;
    top: 30px;
    width: 120px;
    background-color: ghostwhite;
    text-align: center;
    border: 5px solid darkgrey;
    border-radius: 5px;
}

footer {
    color: white;
    position: fixed;
    text-align: right;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}